[Unit]
Description=Run wmwws Gitland bot

[Service]
Type=simple
Restart=always
RestartSec=20
ExecStart=/usr/bin/gitland-bot

[Install]
WantedBy=multi-user.target
